{{!-- <div>
    <h1>Hola {{name}}, que gusto encontrarte por aca!! </h1>
</div> --}}

{{!-- <div>
    <h1>Hola {{user.name}}, bienvenido! </h1>
    {{#if isAdmin}}
        {{#each food}}
        <div>
            <p>{{this.name}}</p>
            <p>{{this.price}}</p>
        </div>
        {{/each}}
    {{else}}
        <p>No tienes permiso</p>
    {{/if}}
</div> --}}

<div>
    <h1>Todo ok para empezar con Websockets!</h1>
</div>

{{!-- Accede a node modules --}}
<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>